* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.col {
    flex: 1;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color:antiquewhite;
    transition: background 0.3s;
}

.col h2:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.col button {
    outline: none;
    border: none;
    padding: 10px;
    background: transparent;
    font-size: 1.5rem;
    border-radius: 10px;
    color:orangered;
    transition: background 0.3s;   
}

.col button:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}